.about-me-section{
    height: 90vh;
    display: flex;
    align-items: center;
    
}

.about-me-text-content{
  height: 100%;
    width: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}



.about-me-text{
    max-width: 90%;
    height: 40vh;
    font-size: 26px;
    margin-bottom: 30px;
}


.about-me-headline{
    font-size: 82px;
 
}

.icon-text{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.about-me-info{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    transition: transform 2s ease-out, opacity 2s ease-out;
    font-size: 26px;

}
.icons {
    transform: translateX(-100px); 
    opacity: 0; 
    transition: transform 2s ease-out, opacity 2s ease-out; 
}

/* Klasse wird später hinzugefügt */
.animate-icons .icons {
    transform: translateX(0); /* Endposition */
    opacity: 1; /* Sichtbar */
}

.about-me-info:nth-child(0) { transition-delay: 0s; }
.about-me-info:nth-child(1) { transition-delay: 0.3s; }
.about-me-info:nth-child(2) { transition-delay: 0.6s; }

.about-me-image{
    max-height: 100%;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
   justify-content: center;
  }
   .pb-image-div{
    position: relative;
  } 


    .pb-image{
        height: 600px;
        width: 90%;
        margin: 0;
        border-radius: 25%;
        z-index: 999;

 }

 
 
    



.background-svg-purpel-right{
    position: absolute;
    right: 0;
    top: 90px;
    z-index: -1;
 }

 .background-svg-green-left{
    position: absolute;
    left: 0;
    top:100px;
    z-index: -1;
 }



 @media only screen and (max-width: 1200px){
    .about-me-section{

    }

    .h2{
        font-size: 75px;
    }

    .about-me-text{
        font-size: 23px;
    }
    .about-me-info{
        font-size: 23px;
    }

     .pb-image{
        height: 400px;
    }
    .background-svg-purpel-right{
       left: 60px;
       height: 400px;
       width: 300px;
       top: 00px;
    }
    .background-svg-green-left{
       left: -0px;
       height: 400px;
       width: 300px;
       top: 00px;
    }
 }






 @media only screen and (max-width: 1000px){
    .about-me-section{
        justify-content: flex-start;
        flex-direction: column-reverse;
     height: 100vh;
    }

    .h2{
        font-size: 70px;
    }

    .about-me-text{
        font-size: 24px;
        height: auto;
    }
    .about-me-text-content{
        height: auto;
        width: 90%;
    }
    .about-me-image{
        height: 500px;
    }

     .pb-image{
        height: 300px;
    }

    .background-svg-purpel-right{
        left: 20px;
        height: 400px;
        width: 300px;
        top: -20px;
     }
     .background-svg-green-left{
        left: -40px;
        height: 400px;
        width: 300px;
        top: -20px;
     }
 }

 @media only screen and (max-width: 600px){

    .about-me-section{
       height: 120vh;
    }

 .about-me-info{
    font-size: 20px;
 }

 .about-me-text{
    font-size: 20px;
 }
 .svg-icon{
    height: 70px;
    width: 55px;
 }

 
 .h2{
    font-size: 60px;
}

 }
    
 @media only screen and (max-width: 400px){
    .about-me-info{
        font-size: 16px;
     }
    
     .about-me-text{
        font-size: 16px;
     }
     .about-me-text-content{
       width: 100%;
     }

     .svg-icon{
        height: 55px;
        width: 35px;
     }
    
     
     .h2{
        font-size: 30px;
    }
 }