
.portfolio-section{
    height: 140vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 50px;
}

.portfolio-headline{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 20px;
}

.portfolio-subtext{
    width: 90%;
    display: flex;
    justify-content: center;

}






.purpel-line-short{
   
    position: absolute;
  left: -2850px;
  height: 2px;
  width: 2870px;
    background-color:  rgb(151, 71, 255);
}
.purpel-line-long{
    height: 2px;
    width: 400px;
    background-color:  rgb(151, 71, 255);
}


.projects-content{
    display: flex;  
    width: 90%;
    flex-direction: column;
    gap: 100px;
}


@media only screen and (min-width: 2561px) {
    .portfolio-section{
        height: 150vh;
    }
}
@media only screen and (min-width: 3000px) {
    .portfolio-section{
        height: 125vh;
    }
}
@media only screen and (min-width: 3400px) {
    .portfolio-section{
        height: 105vh;
    }
}

@media only screen and (min-width: 4561px){
    .portfolio-section{
        height: 75vh;
    }
}

@media only screen and (min-width: 6000px){
    .portfolio-section{
        height: 55vh;
    }
}
@media only screen and (min-width: 8000px){
    .portfolio-section{
        height: 40vh;
    }
}

 @media only screen and (max-height: 1000px){
    .portfolio-section{
        height: 180vh;
    }
 }
 @media only screen and (max-height: 900px){
    .portfolio-section{
        height: 220vh;
    }
}

@media only screen and (max-width: 1200px){
    .h2{
        font-size: 75px;
    }
}

@media only screen and (max-width: 1000px) and (max-height: 1000px){
   .portfolio-section{
    height: 190vh;
   }
}




@media only screen and (max-width: 1000px) {
    .portfolio-section{
        height: 150vh;
       }
}
@media only screen and (max-width: 1000px) and (max-height: 950px){
    .portfolio-section{
     height: 190vh;
     gap: 0px;
    }
 }

@media only screen and (max-width: 900px){
    .portfolio-section{
        gap: 100px;
       height: 190vh;
     }
     .padding{
        padding-left: 15px;
        font-size: 23px;
        margin-bottom: 20px;
     }
     .margin{
      margin-bottom: 250px;
     }
     
  
}

@media only screen and (max-width: 900px) and (max-height: 950px){
    .portfolio-section{
       height: 240vh;
     }
}

@media only screen and (max-width: 900px) and (max-height: 900px){
    .portfolio-section{
     height: 280vh;
     gap: 0px;
    }
 }



@media only screen and (max-width: 700px){
    .portfolio-section{
        gap: 10px;
        height:170vh ;
        justify-content: flex-start;
        padding-top: 0px;
       
     }
     .margin{
        margin-bottom: 0px;
       }
}


@media only screen and (max-width: 700px) and (max-height: 1000px){
    .portfolio-section{
        height: 230vh;
    }
}
@media only screen and (max-width: 700px) and (max-height: 800px){
    .portfolio-section{
        height: 250vh;
    }
}

@media only screen and (max-width: 750px) and (max-height: 850px){
    .portfolio-section{
     height: 280vh;
     gap: 0px;
    }
 }


@media only screen and (max-width: 600px){
    .margin{
        margin-bottom: 150px;
       }
       .portfolio-section{
        overflow-x: hidden;
       }
     
}

@media only screen and (max-width: 480px){
    .portfolio-section{
        height: 280vh;
        gap: 40vh;
    }
    
}
@media only screen and (max-width: 450px){
    .h2{
        font-size: 60px;
    }
    .margin{
        margin-bottom: 50px;
       }

       .portfolio-section{
        gap: 0;
        height:180vh ;
     }


}

@media only screen and (max-width: 430px){
    .portfolio-section{
       
        height:200vh ;
      
     }
}
@media only screen and (max-width: 414px){
    .portfolio-section{
       
        height:210vh ;
      
     }
}

@media only screen and (max-width: 414px) and (max-height: 731px){
    .portfolio-section{
       
        height:250vh ;
      
     }
}

@media only screen and (max-width: 390px){
    .portfolio-section{
       
        height:220vh ;
      
     }
}

@media only screen and (max-width: 375px){
    .portfolio-section{
        height:280vh ;
     }

     .text{
        font-size: 18px;
     }

     .portfolio-headline{
        padding-left: 20px;
     }

     .h2{
        font-size: 40px;
     }
}

/* @media only screen and (max-width: 1700px) and (max-height: 950px){
    .portfolio-section{
        height: 200vh;
        justify-content: center;
        align-items: center;
        gap: 100px;
        overflow-y: hidden;
    }
 }
 */