<section class="portfolio-section">

    <div class="margin">                 

        <div class="portfolio-headline">
            <div class="purpel-line-short"> </div> <h2 class="h2">Portfolio</h2> <div class="purpel-line-long"></div>
            <br>
            <br>
         
        </div>

        <div class="portfolio-subtext"><span class="text padding">{{portfolioText}} </span></div>
       
       

    </div>

    

 <div class="projects-content">


  <app-projects  [projects]="projects"> </app-projects>


 
  </div>


</section>
