.portfolio-section {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 50px;
}

.portfolio-headline {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-left: 20px;
}

.portfolio-subtext {
  width: 90%;
  display: flex;
  justify-content: center;
}

.purpel-line-short {
  position: absolute;
  left: -2850px;
  height: 2px;
  width: 2870px;
  background-color: rgb(151, 71, 255);
}
.purpel-line-long {
  height: 2px;
  width: 400px;
  background-color: rgb(151, 71, 255);
}

.projects-content {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 100px;
}

@media only screen and (max-width: 1200px) {
  .h2 {
    font-size: 75px;
  }
}

@media only screen and (max-width: 900px) {
  .padding {
    padding-left: 15px;
    font-size: 23px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .portfolio-section {
    gap: 10px;

    padding-top: 0px;
  }
  .margin {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .margin {
    margin-bottom: 150px;
  }
  .portfolio-section {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 450px) {
  .h2 {
    font-size: 60px;
  }
  .margin {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 375px) {
  .text {
    font-size: 18px;
  }

  .portfolio-headline {
    padding-left: 20px;
  }

  .h2 {
    font-size: 40px;
  }
}
