<section class="projects-section">

<div class="project-image">
    <img class="img" src="{{LocoImg}}" alt="">
</div>

<div class="project-text-content">
    
    
    <div><h3 class="purpel h3">El Polo Loco</h3></div>
    <div><span class="green project-includes">JavaScript | HTML | CSS</span></div>
    <div><span>A simple but not so simple jump-and-Run game based on OOP. Help Pepe to find coins and fight the boss</span></div>
    <div class="button-div"><button class="button-purpel">Lets play</button> <button class="button-transparent">Git</button></div>

</div>

</section>
