.projects-section{
height: 110vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.project-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.project-text-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    
    
    gap: 35px;
}

.project-includes{
    font-size: 24px;
}

.button-div{
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}

.img{
    height: 450px;
    width: 600px;
    filter: contrast(0.8);
}

.singel-project{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    height: 500px;
    gap: 150px;
}

.reverse {
    flex-direction: row-reverse;
}
.center{
   
    align-items: flex-end;
  
}

.flex-end{
    align-items: flex-end;
}


@media only screen and (max-width: 1200px){
    .h3{
        font-size: 36px;
    }
    .singel-project{
        gap: 50px;
    }

    .img{
        height: 300px;
        width: 400px;
    }
}
@media only screen and (max-width: 1000px){
.reverse{
    padding-left: 10px;
}
.projects-section{
    width: 100%;
}
}
@media only screen and (max-width: 900px){
.singel-project{
    flex-direction: column;
    height: fit-content;
    gap: 0px;
    margin-bottom: 25px;
   
}
 .project-text-content{
    width: 100%;
    justify-content: center;
    align-items: center;
 }
 .projects-section{
   gap: 100px;
    width: 100%;
    
 }
 .project-image{
    height: 200px;
}
}

@media only screen and (max-width: 800px){

.button-purpel{
    width: 120px;
}
.button-transparent{
    width: 120px;
}
}

@media only screen and (max-width: 700px){
    .description{
        text-align: center;
    }
}

@media only screen and (max-width: 600px){
   
    .project-image{
        height: 200px;
    }
    .project-text-content{
        gap: 15px;
    }

    .button-purpel{
        width: 90px;
    }
    .button-transparent{
        width: 90px;
    }

    .singel-project{
        width: 100%;
        margin-left: 30px;
    }
}


@media only screen and (max-width: 480px){
    .singel-project{
        height: auto;
    }
}

@media only screen and (max-width: 450px){
    .img{
        height: 200px;
        width: 300px;
    }

    .projects-section{
        gap: 10px;
       justify-content: space-between;
      }
      .center-text{
        text-align: center;
      }
  
}
