<section class="projects-section">

@for(item of projects; track item; let i = $index){

 <div class="singel-project"   [ngClass]="{ 'reverse': i % 2 !== 0 }" > 

    <div class="project-image">
        <img class="img" src="{{item.ProjectImg}}" alt="">
    </div>
    
    <div class="project-text-content"  [ngClass]="{'center' : i % 2 !== 0} " >
        
        
        <div><h3 class="purpel h3">{{item.ProjectName}}</h3></div>
        <div class="center-text"><span class="green project-includes ">{{item.ProjectTech}}</span></div>
        <div><span class="">{{item.ProjectDescription}}</span></div>
        <div class="button-div"><button class="button-purpel">Test it!</button> <button  (click)="goToGitHub()" class="button-transparent">Git</button></div>
    
    </div>   
</div>
    
}



</section>
