.above-the-fold-section {
  position: relative;
  max-height: 100vh;
  height: 100vh;
  max-width: 100%;
  background-color: rgba(136, 69, 69, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-content {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.first-box {
  display: flex;
  justify-self: flex-end;
  padding-top: 30px;
  font-weight: 100;
  font-size: 80px;
  margin: 0;
}

.rotate {
  transform: rotate(270deg);
  margin: 0px;
 
}

.second-box {
  margin: 0;
}

.name-title {
  font-size: 75px;
 
}

.h1-above {
  margin: 0px;

}
.font-de{
  font-size: 50px;
}

.job {
  color: rgb(151, 71, 255);
  font-size: 60px;
  margin: 0;
  animation: animate3 2s ease-in forwards;
}

.bottom-above-the-fold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color: rgba(250, 235, 215, 0);
}

.r {
  transform: rotate(90deg);
  margin: 0px;
  height: 100px;
 
  animation: bounce infinite forwards 3s ;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px) rotate(90deg); /* Startposition */
  }
  25% {
    transform: translateY(-50px) rotate(90deg); /* Nach oben springen */
  }
  50% {
 
  }
  75% {
  
  }
  100% {
    transform: translateY(-10px) rotate(90deg); /* Zurück zur Startposition */
  }
}






.flex {
  display: flex;
  align-items: center;
  position: relative;
  
}
.svg{
 box-sizing: content-box;
}

.green-line {
  position: absolute;
  right: 200px;
  height: 3px;
  width: 3980px;
  background-color: greenyellow;
}

.icons {
  padding: 20px;
  box-sizing: content-box;
}

.icons svg {
  padding: 20px;
}
svg{
  transition : all 200ms ease-in-out ;
}

.icons svg:hover {
  cursor: pointer;
  transform: translateY(-10px);
}


.animate-iam{
  animation: iam 1s forwards ease-in ;
  
}

@keyframes iam {
0%{
  opacity: 0;
  transform: translateY(-50px) rotate(270deg);
}

50%{
    opacity: 1;
}
100%{
  
  transform: translateY(0px) rotate(270deg);
}


}


.animate-h1{
animation: h1 1s forwards ease-out ;
animation-delay: 0.3s;
opacity: 0;
}
@keyframes h1 {
  0%{
    opacity: 0;
    transform: translateX(50px) ;
  }
  
  50%{
      opacity: 1;
  }
  100%{
    opacity: 1;
    transform: translateX(0px) ;
  }
  
}


.animate-front-end {
 animation: forntEnd 1s forwards ease-out;
 animation-delay:0.7s;
 opacity: 0;
}

@keyframes forntEnd {
  0%{
    opacity: 0;
    transform: translateY(50px) ;
  }
  
  50%{
      opacity: 1;
  }
  100%{
    opacity: 1;
    transform: translateY(0px) ;
  }
  
}

.animate{
  opacity: 0;
  animation: button 1s forwards ease-out ;
  animation-delay: 1.5s;
}
@keyframes button {
  0%{
   
    /* transform: translateY(50px) ; */
  }
  
  50%{
    opacity: 0.5;
  }
  70%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
    /* transform: translateY(0px)  */;
  }
}


.margin{
  margin: 0;
}

@media only screen and (max-width: 2020px){
 .flex{
  padding: 45px;
 }
}

@media only screen and (max-width: 1100px){
  .job{
    font-size: 40px;
  }
  .h1-above {
    font-size: 50px;
  }

  .rotate{
    font-size: 50px;
  
  }

  .first-box{
    padding-bottom: 17px;
  }


}

@media only screen and (max-width: 800px){
/*  .above-the-fold-section{
  height: 70vh;
 } */
}


@media only screen and (max-width: 600px){
  .job{
    font-size: 25px;
  }
  .h1-above {
    font-size: 35px;
  }

  .rotate{
    font-size: 30px;
  
  }
  .first-box{
    padding-bottom: 20px;
  }
  .r{
    margin: 0px;
    height: 40px;
    >p{
      margin: 0;
    }
  }

  
  
    .svg{
      height: 25px;
    }
    .font-de, .font-en {
      font-size: 35px; /* Schriftgröße für noch kleinere Bildschirme */
    }
  

} 
@media only screen and (max-width: 450px){
  .bottom-above-the-fold{
    padding-bottom: 50px;
    height: 150px;
  }
  .font-de, .font-en {
    font-size: 30px; /* Schriftgröße für noch kleinere Bildschirme */
  }
}

@media only screen and (max-width: 375px){
  .above-the-fold-section {
    height: 100vh;
  }
  .font-de, .font-en {
    font-size: 28px; 
  }

  .flex{
    padding: 0px;
  }
}
@media only screen and (max-width: 330px){

.green-line{
    display: none;
  }

  .flex{
    padding: 0px;
  }

.h1-above {
  font-size: 26px;
}
.job{
  font-size: 22px;
}
.rotate {
  font-size: 24px !important;
}



}

