footer{
    margin: 0;
    min-height: 15vh;
    max-height: 20vh;
    width: 100%;
    background: linear-gradient(to bottom, rgb(22, 33, 53),  rgb(22, 33, 53));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.footer-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left:10px ;
    padding-right:10px ;
    width: 100%;
    max-width: 2560px;
}
.icons{
    display: flex;
    gap: 40px;
    padding: 20px;
 
}
.cursor{
    cursor: pointer;
}
svg{
    transition : all 200ms ease-in-out ;
}

.icons svg:hover {
    cursor: pointer;
    transform: translateY(-10px);
  }

.footer-line{
   
    height: 2px;
    background-color: rgb(75, 250, 6);
    overflow: hidden;
}
@media only screen and (max-width: 1024px) and (max-height: 1366px){
   
}

@media only screen and (max-width: 650px){
    footer{
        flex-direction: column;
        justify-content: center;
    }
    .icons{
       display: none;
    }
    h1{
        font-size: 20px;
    }
}

@media only screen and (max-width: 450px){
    .footer-content{
        flex-direction: column;
    }
    .text{
        font-size: 14px;
    }
}