footer{
    height: 25vh;
    width: 100%;
    background-color: rgb(20, 29, 47);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons{
    display: flex;
    gap: 40px;
    padding: 20px;
}

.footer-line{
   
    height: 2px;
    background-color: rgb(75, 250, 6);
    overflow: hidden;
}