<header class="header-elmenet">
    <div class="header">
        <div class="name">
        <h1 class="h1"> <span class="purpel">D</span>omin<span class="green">i</span>c</h1>
        </div>
        <div class="links">
            <div class="link-container"></div><a class="header-links" href="">About me</a>
            <div class="link-container"></div><a class="header-links" href="">Skills</a>
            <div class="link-container"></div><a class="header-links" href="">Portfolio</a>
        </div>
    </div>
   
</header>