<header class="header-elmenet">
    <div class="header">
        <div class="name">
        <h1 class="h1"> <span class="purpel">D</span>omin<span class="green">i</span>c</h1>
        </div>
        <div class="links">
            <div class="link-container"></div><a class="header-links" href="">About me</a>
            <div class="link-container"></div><a class="header-links" href="">Skills</a>
            <div class="link-container"></div><a class="header-links" href="">Portfolio</a>
        </div>
        <div (click)=" openDropDownMenu()" class="mobile-menu-icon ">
            <div class="mobile-menu-line" ></div>
            <div class="mobile-menu-line" ></div>
            <div class="mobile-menu-line" ></div>
        </div>
        <div class="drowp-down-menue  " id="mobile-menu">
            <div class="mobile-links-container">
                <a class="links-mobile" href="">About me</a>
                <a class="links-mobile" href="">Skills</a>
                <a class="links-mobile" href="">Portfolio</a>
                <a class="links-mobile" href="">Contact</a>
            </div>
        </div>
    </div>
   
</header>