.header-elmenet{
    height: 100px;
    background-color: rgba(207, 201, 201, 0);
    filter: blur(1);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    gap: 20px;
}

.header-links{
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 10px;

    &:hover{
        color: greenyellow;
        transform: translateY(-10px);
       
    }
}

.name{
    display: flex;
    align-items: center;
    font-size: 24px;
    
}

@media only screen and (max-width: 700px){

    .h1{
        font-size: 26px;
    }
    .links{
        gap: 5px;
        font-size: 18px;
    }

}
