<section class="contact-section">

    <div class="headline-div"> <h2 class="h2">Contact</h2>  <div class="long-green-line"> </div> </div>

    <div class="main-content">

        <div class="text-content">
            <div class="sub-headline-div">    <div class="light-blue-line">  </div> <h3 class="sub-headline">Got a Problem to solve?</h3>   </div>
            <div class="text-padding">
                <div><span class="text" >Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</span></div> <br>
                <div><span class="text" >Need a Frontend developer? <b> Contact me! </b> </span></div>
    
            </div>
           
        </div>
        


        <div class="form-content">
         
            <div class="form">


                <div><input placeholder="Your name" class="input" type="text"></div>
              <div><input placeholder="Your Email" class="input" type="text"></div>
              <div><input  placeholder="Your message" class="input input-text" type="text"></div>
              <div class="checkbox-div" > <input class="checkbox"  type="checkbox"> <span class="text">I've read the <a class="text-link" href="">privacy policy</a> and agree to the processing of my data as outlined.</span> </div> 

             <div class="button-div"><button class="button-transparent">Send message</button></div>
           
            </div>

            

        </div>

    </div>
</section>
