section{
    max-width: 1920px; // oder 80%, je nach Design-Vorstellung
    margin: 0 auto; // zentriert den Container
    padding: 0 20px; // sorgt für etwas Abstand an den Rände
    overflow: scroll;
    height: 120vh;
 
}
.text{
    margin: 3px;
    font-size: 20px;
}
.home-Link{
    text-decoration: none;
    font-size: 26px;
}

.content{
    display: flex;
    flex-direction: column;
   gap: 15px;
}
@media only screen and (max-width: 1920px){
    .text{
        font-size: 18px;
    }
}

@media only screen and (max-width: 1024px){
    .h2{
        font-size: 25px;
    }
    section{
        height: 140vh;
    }
}

@media only screen and (max-width: 600px){
    .h3{
        font-size: 30px;
    }
    .content{
        text-align: center;
    }
    section{
        height: 120vh;
      }
      .h2{
        font-size: 23px;
      }
    
}
@media only screen and (max-width: 480px){
    section{
        height: 380vh;
    }
}
@media only screen and (max-width: 430px){
    section{
        height: 330vh;
    }
}

@media only screen and (max-width: 420px){
    section{
        height: 420vh;
    }
}
@media only screen and (max-width: 414px){
    section{
        height: 350vh;
    }
}
@media only screen and (max-width: 390px){
    section{
        height: 400vh;
    }
}

@media only screen and (max-width: 375px){
    section{
        height: 630vh;
      }
    
}