<section id="privacy-policy">
    <app-header></app-header>
    <div class="content">
        <div>
            <h2 class="h2">{{datenschutz}}</h2>
            <p class="text"><strong>{{privacyPolicy.algemeineHinweise}}</strong></p>
            <p class="text">
               {{privacyPolicy.datenverarbeitungText}}
            </p>
        </div>
    
        <div>
            <p class="text"><strong>{{privacyPolicy.datenerfassungH2}}</strong></p>
            <p class="text"><strong>{{privacyPolicy.verantwortlicheStelle}}</strong></p>
            <p class="text">
                                {{privacyPolicy.verantwortlicheStelleText}}
            </p>
            <p class="text"><strong>{{privacyPolicy.datenerfassungWie}}</strong></p>
            <p class="text">
                                          {{privacyPolicy.datenerfassungWieText1}}
            </p>
            <p class="text">
               {{privacyPolicy.datenerfassungWieText2}}
            </p>
            <p class="text"><strong>{{privacyPolicy.datennutzung}}</strong></p>
            <p class="text">
              {{privacyPolicy.datennutzungText}}
            </p>
            <p class="text"><strong>{{privacyPolicy.datenschutzrechte}}</strong></p>
            <p class="text">
                    {{privacyPolicy.datenschutzrechteText}}
            </p>
        </div>
    
        <div>
            <p class="text"><strong>{{privacyPolicy.hostingH2}}</strong></p>
            <p class="text"><strong>{{privacyPolicy.allInkl}}</strong></p>
            <p class="text">
             {{privacyPolicy.allInklText1}}  
            </p>
            <p class="text">
                {{privacyPolicy.allInklText2}}  
            </p>
        </div>
    
        <div>
            <p class="text"><strong>{{privacyPolicy.allgemeineHinweiseH2}}</strong></p>
            <p class="text"><strong>{{privacyPolicy.datenschutzH2}}</strong></p>
            <p class="text">
                {{privacyPolicy.datenschutzText}}
            </p>
            <p class="text"><strong>{{privacyPolicy.verantwortlicheStelleH2}}</strong></p>
            <p class="text">
              {{privacyPolicy.verantwortlicheStelleText2}}  Email: <a href='mailto:dominic@moerth.ch'>{{email}}</a>
            </p>
            <p class="text"><strong>{{privacyPolicy.speicherdauer}}</strong></p>
            <p class="text">
              {{privacyPolicy.speicherdauerText}}
            </p>
            <p class="text"><strong>{{privacyPolicy.rechtsgrundlagen}}</strong></p>
            <p class="text">
              {{privacyPolicy.rechtsgrundlagenText}}
            </p>
        </div>
    
        <div>
            <p class="text"><strong>{{privacyPolicy.pluginsToolsH2}}</strong></p>
            <p class="text"><strong>{{privacyPolicy.googleFonts}}</strong></p>
            <p class="text">
               {{privacyPolicy.googleFontsText}}
            </p>
        </div>
        <a class="home-Link purpel" routerLink="/"> < Go Back</a>
    </div>
    
</section>
