section{
    max-width: 1920px; // oder 80%, je nach Design-Vorstellung
    margin: 0 auto; // zentriert den Container
    padding: 0 20px; // sorgt für etwas Abstand an den Rände
   
    overflow-y: hidden;
}
.text{
    margin: 3px;
}

.content{
    display: flex;
    flex-direction: column;
   gap: 15px;
}

@media only screen and (max-width: 430px){
    section{
        height: 90vh;
    }
}
footer{
    height: 10vh;
}

@media only screen and (max-width: 600px){
    .h3{
        font-size: 30px;
    }
    .content{
        text-align: center;
    }
}