<section id="impressum">
<div class="content">
    <h2 class="h3">Legal Notice (Impressum)</h2>
    <p class="text" ><strong>According to § 5 TMG (Telemedia Act):</strong></p>
    <p class="text" >
        <strong>Dominic Mörth</strong><br>
        [Your Address] <br>
        [Your Email Address] <br>
        [Optional: Your Phone Number] <br>
    </p>

    <h3 class="h3">Responsible for the content according to § 55 Abs. 2 RStV:</h3>
    <p class="text" >Dominic Mörth</p>

    <h3 class="h3">Contact:</h3>
    <p class="text" >
        Email: <a href="mailto:your@email.com">{{email}}</a><br>
        Phone: [Your Phone Number]
    </p>

    <h3>Disclaimer:</h3>
    <p class="text" > The contents of this website were created with the greatest possible care. However, we cannot guarantee the accuracy, completeness, or timeliness of the content.</p>

    <h3>Liability for Links:</h3>
    <p class="text" >This website contains links to external websites, over which we have no control. Therefore, we cannot accept any responsibility for their content.</p>
</div>
   
</section>
