<section  id="impressum">
  <app-header></app-header>
  <div class="content">
    <div>
      <h2 class="h2">Impressum</h2>

      <p class="text">
        <strong>Name:</strong> Dominic Mörth<br />
        <strong>Adresse:</strong> Flurgasse 13, 6800 Feldkirch<br />
        <strong>Telefon:</strong> +43 676 5123728<br />
        <strong>E-Mail:</strong>
        <a href="mailto:dominic@moerth.ch">{{ email }}</a
        ><br />
      </p>

      <p class="text">
        <strong>{{verantwortlich}}</strong>
        Dominic Mörth<br />
      </p>
      <p class="text">
        <strong>{{haftungsausschlussH1}}</strong><br />
      {{haftungsausschlussText}}
      </p>
      <p class="text">
        <strong>{{urheberrechtH1}}</strong><br />
       {{urheberrechtText}}
      </p>
      <p class="text">
        <strong>{{datenschutzH1}}</strong><br />
       {{datenschutz}}
        <a routerLink="/privacy-policy">{{datenschutzLink}}</a>.
      </p>
      <a class="home-Link purpel" routerLink="/"> < {{goBack}}</a>
    </div>
  </div>
</section>
