<section id="impressum">
    <div class="content">
        <div>
            <h2 class="h2">Impressum</h2>
            <p class="text"><strong>Angaben gemäß § 5 ECG (E-Commerce-Gesetz) und § 25 MedienG (Mediengesetz):</strong></p>
            <p class="text">
                <strong>Name:</strong> Dominic Mörth<br>
                <strong>Adresse:</strong> Flurgasse 13, 6800 Feldkirch<br>
                <strong>Telefon:</strong> +43 676 5123728<br>
                <strong>E-Mail:</strong> <a href="mailto:[Deine E-Mail-Adresse]">[Deine E-Mail-Adresse]</a><br>
            </p>
            <p class="text">
                <strong>Berufsbezeichnung:</strong> [Deine Berufsbezeichnung, z. B. "Webentwickler", "Designer", etc.]<br>
                <strong>Mitgliedschaften:</strong> [Falls zutreffend, z. B. "Mitglied der Wirtschaftskammer Österreich"]<br>
            </p>
           
            <p class="text">
                <strong>Verantwortlich für den Inhalt nach § 25 Abs. 5 MedienG:</strong> [Dominic Mörth]<br>
            </p>
            <p class="text">
                <strong>Haftungsausschluss:</strong><br>
                Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann jedoch keine Gewähr übernommen werden.
                Als Diensteanbieter bin ich gemäß § 17 Abs. 2 ECG für eigene Inhalte auf dieser Website verantwortlich. Ich übernehme jedoch keine Haftung für die Inhalte externer Links.
                 Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
            </p>
            <p class="text">
                <strong>Urheberrecht:</strong><br>
                Die durch mich erstellten Inhalte und Werke auf dieser Website unterliegen dem österreichischen Urheberrecht. Die Vervielfältigung, Bearbeitung, 
                Verbreitung und jede Art der Verwertung außerhalb der Grenzen des 
                Urheberrechts bedürfen meiner schriftlichen Zustimmung. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
            </p>
            <p class="text">
                <strong>Datenschutz:</strong><br>
                Informationen zum Datenschutz finden Sie in der <a routerLink="/privacy-policy">Datenschutzerklärung</a>.
            </p>
        </div>
    </div>
   
</section>
