.header{
    height: 110px;
   
}

.content{
    max-width: 1800px; // oder 80%, je nach Design-Vorstellung
    margin: 0 auto; // zentriert den Container
    padding: 0 20px; // sorgt für etwas Abstand an den Rände
}